@{
    ViewData["Title"] = "Home Page";
}
<h2>Game of the year</h2>
<div class="row">
    <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/601050/capsule_616x353.jpg?t=1570775688" width="350" height="200" />
            <div class="card-body">
                <p class="card-text">Attack on Titan 2 - A.O.T.2</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://www.gamemonday.com/wp-content/uploads/2020/03/Rainbow-Six-Siege-532020-1.jpg" width="350" height="200" />
            <div class="card-body">
                <p class="card-text">Tom Clancy's Rainbow Six® Siege</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://www.theallapps.com/wp-content/uploads/ad3f96dfd21531e24ab72c3821a01049c8484982.jpg" width="350" height="200" />

            <div class="card-body">
                <p class="card-text">Grand Theft Auto V</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://monstervine.com/wp-content/uploads/2019/09/Monster-Hunter-World_-Iceborne_20190908102727.jpg" width="350" height="200" />
            <div class="card-body">
                <p class="card-text">MONSTER HUNTER: WORLD</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://cdn.tigthai.com/imguploads/202102/22/07003440016140052595256_Marvel_key-art.jpg" width="350" height="200" />
            <div class="card-body">
                <p class="card-text">Marvel future revolution</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="https://media-dtb-wiki.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2020/04/26193745/cf701dd38fd4a9e2e95ab2d872ccccf86_17731313_200422_0013.jpg" width="350" height="200" />
            <div class="card-body">
                <p class="card-text">Counter-Strike: Global Offensive</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>